@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #fff;
  --background-light50: rgba(204, 226, 252, 0.5);

  --base-accent: #318bf1;

  --text-normal: #303030;
  --text-light: #fff;
  --text-background: #247faa;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--text-background);
}

[data-focus-visible="true"] {
  outline: none !important;
}

body {
  color: var(--text-normal);
  background: var(--background-light);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
